$colFlexBasis : 50vw;
 $colHeight: 100vh;
 /* Syles for the Header */
  #header_flexRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
      color: white;
    }


  }
//  Styles for responsive Design
@media screen and (max-width: 320px) and (min-width: 0px) {
  img{
    max-height:8vh;
  }

  }
  @media screen and (max-width: 360px) and (min-width: 321px) {
    img{
      max-height:10vh;
    }

    }

  #container {
    display: flex;
    flex-direction: column;
  }

  header {
    flex-basis: 15vh;
    background-color: black;
  }

  #content {
    flex-basis: 80vh;
    background-color: blue;
  }

  footer {
    flex-basis: 10vh;
    background-color: black;
  }
  /* flex Container inside content. Content inside this container should be in row */
  #content_flexRow {
    display: flex;
    flex-direction: row;
  }
  /* Syles for column one and column two */
  #col1 {
    flex-basis: $colFlexBasis;
    border-right: 30px solid black;
    background-color: yellow;
    height: $colHeight;

  }

  #col2 {
    flex-basis: $colFlexBasis;
    background-color: orange;
    height: $colHeight;
  }


  #col1_flexCol {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    margin-top:1vh;
  }

  #col2_flexCol {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    margin-top:1vh;

  }

  li {
    list-style-type: none;
    margin-top:1vh;
  }
  p{
    margin-top:1vh;
  }
  #headerOne{
    flex-basis: 5vh;
  }
  #headerTwo{
    flex-basis: 5vh;
  }
  #resultPlayerOne, #resultPlayerTwo{
    font-size: 20pt;
  }
